# Ignore node_modules directory
node_modules/

# Ignore environment variable files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore build output directories
dist/
out/
build/

# Ignore log files
*.log

# Ignore OS-specific files (optional)
.DS_Store
Thumbs.db
